
.header{
    display: flex;
    align-items: center;
 
}
.conteiner{
    background-image: url(/src/img/gradienta-m_7p45JfXQo-unsplash.jpg);
    background-size: cover;
    height: 113px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}
.img{
    width: 157px;
    height: 72px;
}
.list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 46px;
    margin-left: 37px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    padding: 0;
}
.listItem{
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 0.8;
    font-size: 12px;
    color: #FFFFFF;

}
.nav{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 49px;
    margin-left: 480px;
    padding: 0;
}
.navItem{
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 300;
    line-height: 0.8;
    font-size: 12px;
    color: #FFFFFF;
}
.btn{
    width: 133px;
    height: 43px;
    border-radius: 22px;
    opacity: 0.2;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 12px;
    color: #5FBDC1;

}
.btnText{
    opacity: 1;
}