.conteiner{
    max-width: 428px;
    /* height: 450px; */
    background-image: url(../../img/Rectangle\ 25.svg);
    background-repeat: no-repeat;
    background-size: contain;

    text-align: center;
    
}